html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    color: #262626;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 4rem 1fr 3rem;
    background-color: #1e3a8a;
    color: #e5e5e5;
}

/*Header style*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}
/*End Header style*/

/*Main game area style*/
main {
    display: grid;
    grid-template-rows: 4rem 2em 1fr;
    align-items: center;
    justify-items: center;
}

.board-section {
    display: flex;
    /*To allow easy insertion of second gameboard to screen*/
    justify-content: space-around;
    gap: 100px;
}

#axis-button {
    height: 2rem;
    width: 8rem;
}

.board-wrapper {
    width: 500px;
    height: 500px;
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.board-cell {
    height: 100%;
    width: 100%;
    border: 2px solid #fafafa;
}

.ship-cell {
    background-color: #60a5fa;
}

.board-cell:hover {
    cursor: pointer;
    background-color: #2e4a9a;
}

.ship-cell:hover {
    cursor: pointer;
    background-color: #bfdbfe;
}

.hit-cell {
    background-color: #86efac;
}

.miss-cell {
    background-color: #fca5a5;
}

.invalid-cell:hover {
    cursor: not-allowed;
}
/*End Main game area style*/

/*Footer style*/
footer {
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-links {
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.git-logo {
    width: 32px;
}
/*End Footer style*/